<a href="https://colab.research.google.com/github/nel417/driving_project/blob/main/Driving_conditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
  
weather = files.upload()

Saving Train_WeatherData.csv to Train_WeatherData.csv

In [ ]:
weather_df_rough = pd.read_csv("Train_WeatherData.csv")

In [ ]:
###
#CHANGE THE NAME OF ROW TITLES
###

In [ ]:
weather_df = weather_df_rough.rename(columns={'V1': 'Date/Time', 'V12': 'Temp', 'V13': 'Precip', 'V14':'Precip Intensity', 'V15': 'Humidity', 'V16': 'Wind Direction', 'V17': 'Wind Speed', 'V19': 'Lighting Condition'})

In [ ]:
weather_df

              ID            Date/Time  ...  Wind Speed Lighting Condition
0       DR_24526  2012-03-21 09:14:55  ...         1.0           daylight
1       DR_24526  2012-03-21 09:15:07  ...         0.0           daylight
2       DR_24526  2012-03-21 09:15:12  ...         0.0           daylight
3       DR_24526  2012-03-21 09:15:48  ...         0.0           daylight
4       DR_24526  2012-03-21 09:15:54  ...         0.0           daylight
...          ...                  ...  ...         ...                ...
162561  DR_69505  2013-04-30 16:54:41  ...         3.0              night
162562  DR_69505  2013-04-30 16:55:20  ...         8.0              night
162563  DR_69505  2013-04-30 16:55:21  ...         8.0              night
162564  DR_56117  2013-04-30 16:55:23  ...         8.0              night
162565  DR_56117  2013-04-30 16:57:08  ...         8.0              night

[162566 rows x 9 columns]

In [ ]:
driver = files.upload()

Saving Train_Vehicletravellingdata.csv to Train_Vehicletravellingdata.csv

In [ ]:
driver_df_rough = pd.read_csv("Train_Vehicletravellingdata.csv")
driver_df_rough.head()

         ID                   V1  V3  V4     V7  V8     V9   V10    V11  V18
0  DR_24526  2012-03-21 09:14:55   1  81  57227  87  16986   941   94.0  Dry
1  DR_24526  2012-03-21 09:15:07   1  88  57229  81   1708   551   11.0  Dry
2  DR_24526  2012-03-21 09:15:12   1  88  57230  88  22892  1698    4.0  Dry
3  DR_24526  2012-03-21 09:15:48   2  84  57228  89   1945   544  127.0  Dry
4  DR_24526  2012-03-21 09:15:54   1  89  57231  88  13787  1893   42.0  Dry

In [ ]:
driver_df = driver_df_rough.rename(columns={'V1': 'Date/Time', 'V3': 'Lanes', 'V4': 'Speed(KPH)', 'V7':'Preceding Vehicle ID', 'V8': 'Preceding Vehicle Speed(KPH)', 'V9': 'Preceding Vehicle Weight', 'V10': 'Preceding Vehicle Length', 'V11': 'Preceding Vehicle Time Gap', 'V18': 'Condition Of Road'})

In [ ]:
driver_df

              ID  ... Condition Of Road
0       DR_24526  ...               Dry
1       DR_24526  ...               Dry
2       DR_24526  ...               Dry
3       DR_24526  ...               Dry
4       DR_24526  ...               Dry
...          ...  ...               ...
162561  DR_69505  ...               Dry
162562  DR_69505  ...               Dry
162563  DR_69505  ...               Dry
162564  DR_56117  ...               Dry
162565  DR_56117  ...               Dry

[162566 rows x 10 columns]

In [ ]:
train_data1 = files.upload()

Saving Train.csv to Train (1).csv

In [ ]:
train_data_rough = pd.read_csv("Train.csv")
train_data_rough.head()

         ID    V2     V5  V6  DrivingStyle
0  DR_24526  1265  10243   2             2
1  DR_30052  1680  30871   6             2
2  DR_40928   936   3224   4             2
3  DR_66033  1503   3315   4             2
4  DR_45266   929   3022   4             2

In [ ]:
train_data_df = train_data_rough.rename(columns={'V2': 'Length Of Vehicle', 'V3': 'Lanes', 'V5': 'Vehicle Weight', 'V6':'Axels'})

In [ ]:
train_data_df

             ID  Length Of Vehicle  Vehicle Weight  Axels  DrivingStyle
0      DR_24526               1265           10243      2             2
1      DR_30052               1680           30871      6             2
2      DR_40928                936            3224      4             2
3      DR_66033               1503            3315      4             2
4      DR_45266                929            3022      4             2
...         ...                ...             ...    ...           ...
12989  DR_61322                730            3245      2             2
12990  DR_35712                573            2135      2             3
12991  DR_61590               1747           31864      6             1
12992  DR_69505                710            3244      2             2
12993  DR_56117               2001           27812      6             1

[12994 rows x 5 columns]

In [ ]:
###
# MAKE PROD DATASET
###

In [ ]:
production_dataset_pre = pd.merge(weather_df,driver_df)

In [ ]:
production_df = pd.merge(production_dataset_pre, train_data_df)

In [ ]:
production_df

              ID            Date/Time  ...  Axels DrivingStyle
0       DR_24526  2012-03-21 09:14:55  ...      2            2
1       DR_24526  2012-03-21 09:15:07  ...      2            2
2       DR_24526  2012-03-21 09:15:12  ...      2            2
3       DR_24526  2012-03-21 09:15:48  ...      2            2
4       DR_24526  2012-03-21 09:15:54  ...      2            2
...          ...                  ...  ...    ...          ...
162561  DR_69505  2013-04-30 16:54:41  ...      2            2
162562  DR_69505  2013-04-30 16:55:20  ...      2            2
162563  DR_69505  2013-04-30 16:55:21  ...      2            2
162564  DR_56117  2013-04-30 16:55:23  ...      6            1
162565  DR_56117  2013-04-30 16:57:08  ...      6            1

[162566 rows x 21 columns]

In [ ]:
###
#DROP INPUT AND CREATE TARGET
###

In [ ]:
inputs = production_df.drop('DrivingStyle',axis='columns')
target = production_df['DrivingStyle']

In [ ]:
###
#TURN CATEGORICAL DATA NUMERIC
###

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le_condition_weather = LabelEncoder()
le_condition_lighting = LabelEncoder()
le_condition_precipitation = LabelEncoder()
le_condition_road = LabelEncoder()

In [ ]:
inputs['Condition_Weather_Numeric'] = le_condition_weather.fit_transform(inputs['Precip'])
inputs['Condition_Lighting_Numeric'] = le_condition_lighting.fit_transform(inputs['Lighting Condition'])
inputs['Condition_Precipitation_Numeric'] = le_condition_precipitation.fit_transform(inputs['Precip Intensity'])
inputs['Condition_Road_Numeric'] = le_condition_road.fit_transform(inputs['Condition Of Road'])

In [ ]:
inputs['Condition_Weather_Numeric']

0         0
1         0
2         0
3         0
4         0
         ..
162561    1
162562    1
162563    1
162564    2
162565    2
Name: Condition_Weather_Numeric, Length: 162566, dtype: int64

In [ ]:
import numpy as np

In [ ]:
inputs_n = inputs.drop(['ID', 'Date/Time','Precip', 'Lighting Condition', 'Precip Intensity', 'Condition Of Road'], axis='columns')

inputs_n = inputs_n.fillna(method='ffill')

In [ ]:
inputs_n

        Temp  Humidity  ...  Condition_Precipitation_Numeric  Condition_Road_Numeric
0        7.0      95.0  ...                                4                       0
1        7.0      95.0  ...                                4                       0
2        7.0      95.0  ...                                4                       0
3        7.0      95.0  ...                                4                       0
4        7.0      95.0  ...                                4                       0
...      ...       ...  ...                              ...                     ...
162561   5.0      89.0  ...                                2                       0
162562   9.0      91.0  ...                                2                       0
162563   9.0      91.0  ...                                2                       0
162564   9.0      91.0  ...                                3                       0
162565   9.0      91.0  ...                                3                       0

[162566 rows x 18 columns]

In [ ]:
from sklearn import tree

In [ ]:
model = tree.DecisionTreeClassifier()

In [ ]:
np.any(np.isnan(inputs_n))

False

In [ ]:
model.fit(inputs_n, target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
model.score(inputs_n, target)

1.0